h1 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  outline: none;
}

#labelName {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: lighter;
  font-size: 35px;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
#labelOne {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
  font-weight: lighter;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

input {
  text-align: center;
  border-radius: 30%;
  outline: none;
  border: 5px solid white;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  padding: 10px;
  background: linear-gradient(#66B0FD, #C1DFFF);
  margin: 0 0 10px 0;
}

body {
  height: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-image: url(../img/robotBackground.jpg);
  font-family: calibri;
}

p {
  font-size: 30px;
  font-weight: bold;
  color: #66B0FD;
}

.btn-lg {
  padding: 30px 20px;
  font-size: 18px;
  line-height: 0;
  border-radius: 6px;
  background: linear-gradient(#66B0FD, #C1DFFF);
}

#img {
  height: 250px;
  display: none;
  margin-top: 5% auto auto 20px;
}
